/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    color: #333;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    background-color: #222;
    color: white;
}
/* Logo superior izquierdo */
.logo-container img {;
    width: 200px; 
    height: auto;
    object-fit: cover; 
    border-radius: 30px;
}
/* Navbar mobile-first */

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 7px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
    font-size: 1.2rem;
    padding: 20px;
    text-align: center;
}

nav ul li a:hover {
    color: #fcbf49; /* Color llamativo al pasar el mouse */
}

main {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #222;
}

h2 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
    text-align: center
}

p {
    font-size: 1.1rem;
    line-height: 1.6;
    font-weight: bold;
    text-align: center
}

section img {
    display: block;
    width: 50%;
    height: auto;
    margin: 20px auto;
    border-radius: 10px;
}

footer {
    text-align: right;
    background-color: #222;
    color: white;
    padding: 15px;
    margin-top: 30px;
}

.remeras-container {
    display: flex; 
    justify-content: center; 
    gap: 20px; 
    flex-wrap: wrap; 
}

.remeras-container img {
    width: 30%; 
    height: auto; 
    border-radius: 10px; 
}

.calzado-container {
    display: flex; 
    justify-content: center;
    gap: 20px; 
    flex-wrap: wrap; 
}

.calzado-container img {
    width: 30%; 
    height: auto; 
    border-radius: 10px; 
}

.pareja-container {
    display: flex; 
    justify-content: center; 
    gap: 20px; 
    flex-wrap: wrap; 
}

.pareja-container img {
    width: 30%; 
    height: auto; 
    border-radius: 10px; 
}

.navbar {
    background-color: #333; /* Fondo oscuro */
}
.navbar-brand, .navbar-nav .nav-link {
    color: #fff; /* Texto blanco */
}
.navbar-nav .nav-link:hover {
    color: #f8f9fa; /* Color blanco en hover */
}

body {
    font-family: 'Roboto', sans-serif;
}
@media (max-width: 600px){
    .flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
        width: 100px;
    }
        
    nav ul li a {
        display: block;
        padding: 15px;
        font-size: 1.2rem;
        width: 100px;
        text-align: center;
}
